.site-container {
    max-width: 700px;
    width: 100%;
    padding: 16px;
}

.site-card {
    padding: 2rem 1.5rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px rgba(0.1, 0, 0, 0.1);
    background-color: white;
    max-width: 100% !important;
}

.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dashboard-cards .dashboard-card {
    min-height: 105px;
    padding: 8px;
    border: 1px solid #f1f1f1;
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 24px;
    text-align: center;
    cursor: pointer;
}
.dashboard-cards .dashboard-card:hover {
    background-color: #dedede;
}
.dashboard-cards .dashboard-card p {
    margin-bottom: 0px;
}
@media (max-width: 600px) {
    .dashboard-cards .dashboard-card {
        margin-bottom: 16px;
    }
}
